/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url("../static/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
nav {
    background-color: #2c3e50;
    color: white;
    padding: 22px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3); 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-logo p {
    font-size: 20px;
    font-weight: 600;
}
.nav-menu ul {
    display: flex;
    list-style: none;
}
.nav-menu ul li {
    margin-left: 20px;
}
.nav-menu ul li .link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.link:hover, .active {
    border-bottom: 2px solid white;
    text-decoration: none;
    padding: 10px;

    
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}
.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
    color: #fff;
}
.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one {
    display: flex;
    gap: 5px;
}
.two label a {
    text-decoration: none;
    color: #fff;
}
.two label a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }
    .form-box {
        width: 100%;
        height: 500px;
    }
    .login-container {
        width: 100%;
        padding: 0 20px;
    }
}
.input-label {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #444;
    font-size: 14px;
}
.flash-message.success {
    color: #28a745; /* green */
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.flash-message.error {
    color: #ff4d4d; /* red */
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}
